@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.column-count-1 {
  column-count: 1;
}
.column-count-2 {
  column-count: 2;
}
.column-count-3 {
  column-count: 3;
}
.column-count-4 {
  column-count: 4;
}

.copy-markdown {
  @apply prose;
  @apply prose-sm;
  @apply max-w-none;
}

.copy-markdown > blockquote {
  border-color: #4b5563;
}

.copy-markdown h2,
h3,
h4 {
  margin-top: 1em !important;
}

.clipping-markdown img {
  margin-left: auto !important;
  margin-right: auto !important;
}

.clipping-markdown h1,
h2,
h3,
h4 {
  text-align: center !important;
}

.blurry {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

.paper-grey {
  background-image: url("textures/paper-grey.jpg");
}

.paper-beige {
  background-image: url("textures/paper-beige.jpg");
}

.paper-cream {
  background-image: url("textures/paper-cream.jpg");
}

.font-alfa-slab-one {
  font-family: "Alfa Slab One", cursive;
}

.font-newsreader {
  font-family: "Newsreader", serif;
}

.font-noticia-text {
  font-family: "Noticia Text", serif;
}
