.ink-black,
.ink-black * {
  border-color: #2d3436 !important;
  color: #2d3436 !important;
}

.ink-red,
.ink-red * {
  border-color: #c0392b !important;
  color: #c0392b !important;
}

.ink-green,
.ink-green * {
  border-color: #27ae60 !important;
  color: #27ae60 !important;
}

.ink-blue,
.ink-blue * {
  border-color: #2980b9 !important;
  color: #2980b9 !important;
}

.ink-purple,
.ink-purple * {
  border-color: #4834d4 !important;
  color: #4834d4 !important;
}

.ink-silver,
.ink-silver * {
  border-color: #bdc3c7 !important;
  color: #bdc3c7 !important;
  mix-blend-mode: normal !important;
}

.ink-true-black,
.ink-true-black * {
  border-color: #000 !important;
  color: #000 !important;
}

.ink-true-white,
.ink-true-white * {
  border-color: #eee !important;
  color: #eee !important;
}

.ink-true-white :not(img) {
  mix-blend-mode: normal !important;
}

.crt-screen-green,
.crt-screen-green * {
  border-color: #00ff00 !important;
  color: #00ff00 !important;
}
