.ink-red p,
.ink-red h1,
.ink-red h2,
.ink-red h3,
.ink-red h4 {
  color: #d63031 !important;
}
.ink-red,
.ink-red hr {
  border-color: #d63031 !important;
}

.ink-black p,
.ink-black h1,
.ink-black h2,
.ink-black h3,
.ink-black h4 {
  color: #2d3436 !important;
}
